<div class="sidebar">
        <a href="#" class="sidebar-link"><h1>New Arrivals</h1></a>
        <a href="#" class="sidebar-link"><h2>Bestsellers</h2></a>
        <a href="#" class="sidebar-link"><h3>Summer Linen Suits</h3></a>
        <a href="#" class="sidebar-link"><h4>T-Shirts 3 for 2</h4></a>
        <a href="#" class="sidebar-link"><strong>Get a 2 piece suit & shirt, save 20%</strong></a>
        
        <a href="#" class="sidebar-link">Sale</a>
        <a href="#" class="sidebar-link">Suits & Tailoring</a>
        
        <a href="#" class="sidebar-link">T Shirts [NEW]</a>
        <a href="#" class="sidebar-link">Denim Collection [NEW]</a>
        <a href="#" class="sidebar-link">The Linen Collection</a>
        
        <a href="#" class="sidebar-link">Shirts</a>
        <a href="#" class="sidebar-link">Polo Shirts</a>
        <a href="#" class="sidebar-link">Overshirts</a>
        <a href="#" class="sidebar-link">Trousers & Shorts</a>
        
        <a href="#" class="sidebar-link">Footwear</a>
        <a href="#" class="sidebar-link">Jackets & Coats</a>
        
        <a href="/my-orders" class="sidebar-link">My Orders</a>
        <a href="/logout" class="sidebar-link">Log out</a>
    </div>

    <div class="sidebar-backdrop"></div>