
<div class="container py-5">
  <h2>Thank You, <%= user %>!</h2>
  <p>Your order has been placed successfully and will be processed soon.</p>
  <a href="/" class="btn btn-primary mt-3">Return to Home</a>
</div>

