
  <div class="container mt-5 pt-5">
    <h1 class="heading">ABOUT US</h1>

    <div class="image-container text-center mb-4">
      <img src="/imgs/about.avif" alt="About Us" class="img-fluid">
    </div>

    <div class="row text-section justify-content-center">
      <div class="col-md-6 mb-4">
        <p>Based in Hackney, East London, Percival menswear combines a classic quintessential British sense of style and rare, internationally sourced fabrics and materials. This of course means we construct high quality garments all over the world over with skilled craftspeople.</p>
      </div>
      <div class="col-md-6 mb-4">
        <p>We serve some of the rarest designer clothing with our seasonal collections. We aim to bring something different to your clothes hangers, to provide a bit of self style and pride, you look good when you wear it this well. These are quality menswear garments that always meet our rule of ‘Subverting the Classics’.</p>
        <p class="small-text">We also produce premium wardrobe staples with our Auxiliary ‘Routine Critical Daily Goods’ collection. These pieces are designed as the building blocks of every outfit of every day and can easily be paired with our directional pieces. Easy.</p>
      </div>
    </div>
  </div>
