    <div class="container footer">
        <div class="row">
            <div class="col-md-4 bg-white mb-2 p-3 rounded">
                <h6>Sign up for 15% off your first order</h6>
                <form>
                    <input type="email" class="form-control mb-2" placeholder="*EMAIL ADDRESS">
                    <input type="text" class="form-control mb-2" placeholder="*FIRST NAME">
                    <input type="text" class="form-control mb-2" placeholder="*LAST NAME">
                    <button type="submit" class="btn btn-submit w-40 p-2 my-2">SUBMIT →</button>
                </form>
            </div>
            <div class="col-md-8 footer-links">
                <div class="row">
                    <div class="col-md-6">
                        <h5>OUR INSTAGRAM IS VERY, VERY GOOD →</h5>
                        <a href="#">REWARDS AND REVIEWS</a><br>
                        <a href="#">REWARDS | THE MEMBERSHIP</a><br>
                        <a href="#">EMAIL NEWSLETTER SIGN UP</a><br>
                        <a href="#">SMS NEWSLETTER SIGN UP</a><br>
                        <a href="#">T-SHIRT & HOODIE BUNDLE DEAL</a><br>
                        <a href="#">PERCIVAL REVIEWS</a><br>
                        <a href="#">PERCIVAL PROMO CODES & OFFERS</a><br>
                        <a href="#">STUDENT DISCOUNT</a>
                    </div>
                    <div class="col-md-6">
                        <h5>HELP AND INFO</h5>
                        <a href="#">ABOUT</a><br>
                        <a href="#">CAREERS - WE'RE HIRING!</a><br>
                        <a href="#">SOHO STORE | CENTRAL LONDON</a><br>
                        <a href="#">SPITALFIELDS STORE | EAST LONDON</a><br>
                        <a href="#">JOURNAL | THE PERCI RAG</a><br>
                        <a href="#">PERCIVAL PERSONAL STYLING</a><br>
                        <a href="#">UK SHIPPING & RETURNS</a><br>
                        <a href="#">INTERNATIONAL SHIPPING & RETURNS</a><br>
                        <a href="#">SUSTAINABILITY</a><br>
                        <a href="#">TERMS & CONDITIONS</a><br>
                        <a href="#">PRIVACY PAGE</a><br>
                        <a href="#">COOKIE POLICY</a><br>
                        <a href="#">FAQs</a><br>
                        <a href="#">SITEMAP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>