

<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-custom px-3 pt-5">
    <div class="container-fluid d-flex justify-content-between">
      <div class="d-flex gap-3">
        <span class="bi bi-list">☰</span>
        <input class="form-control form-control-sm" type="search" placeholder="Search...">
      </div>
      <div class="text-center fw-semibold">PERCIVAL</div>
      <div class="d-flex align-items-center gap-3">
        <span>PKR (Rs)</span>
        <span class="bi bi-key">🗝️</span>
        <a href="/login" class="bi bi-person text-dark text-decoration-none">👤</a>
        <span class="bi bi-bookmark">🔖</span>
        <span class="bi bi-bag">🛒[1]</span>
      </div>
    </div>
</nav>