<div class="container py-4">
        <div class="row g-3">
            <div class="col-md-3 col-6">
                <div class="promo-box">
                    <div class="promo-img">📧</div>
                    <div class="promo-title">15% OFF YOUR FIRST ORDER</div>
                    <hr class="hr-thick">
                    <div>Sign up to our newsletter for 15% off. Lovely.</div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="promo-box">
                    <div class="promo-img">🚚</div>
                    <div class="promo-title">FREE SHIPPING & EASY RETURNS</div>
                    <hr class="hr-thick">
                    <div>Free Shipping* & Easy Returns! Better shipping & return options worldwide.</div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="promo-box">
                    <div class="promo-img">👕</div>
                    <div class="promo-title">T-SHIRT & HOODIE BUNDLE DEAL</div>
                    <hr class="hr-thick">
                    <div>Like a bundle deal? Of course you do! Click here for deals.</div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="promo-box">
                    <div class="promo-img">🎁</div>
                    <div class="promo-title">REWARDS</div>
                    <hr class="hr-thick">
                    <div>Get rewarded for every purchase and unlock exclusive discounts and offers.</div>
                </div>
            </div>
        </div>
    </div>